
/*
* ELECTRO V.1
* Copyright 2012, manuelvega
* DATE : 03/01/2013
*/



/* Table of Contents
==================================================
    
  
  
  1. GENERAL STYLES
  2. HEADER & NAV
  3. SLIDER
  4. HOME
  5. ABOUT
  6. PORTFOLIO
  7. BLOG
  8. SIDEBAR
  9. CONTACT
  10. MEDIA QUERYS
  11. SWITCHER


/* 1 - GENERAL STYLES 
================================================== */


body {}
a {color: #ff1b41; text-decoration: none;}
::selection {color:#fff; background-color: #212121;}
.clear {clear: both;}
p {font-family: 'Arial'; font-size:13px; color: #666666;}
h4 {font-size:15px; font-weight: bold;}
h2.title {font-family: 'equal_sans_demoregular';text-transform: uppercase;font-size: 50px;text-align: center;margin-bottom: 50px; }


/* 2 - HEADER & NAV 
================================================== */


header {background-color: #151515; position:fixed; right:0; left:0; z-index: 999;}
header .logo {float:left; margin: 15px 0 5px 0;}
nav {z-index: 999;}
nav.main_nav ul, .back ul {float: right; padding: 15px 0 5px 0;}
nav.main_nav ul li {display: inline;}
nav.main_nav ul li a , .back ul li a {color: #7b7b7b;font-family:'Arial'; font-weight: bold; font-size:11px;padding: 10px; margin-left:10px;transition:color 0.2s ease-in-out;-moz-transition:color 0.5s ease-in-out;
-webkit-transition:color 0.5s ease-in-out;}
nav.main_nav ul li a:hover {color: #fff;}
nav.main_nav ul li.active a, .back ul li.active a { color:#fff; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px;background-color:#ff1b41; padding:5px 10px; margin-left:10px;}



/* 3 - SLIDER (SLIDER CODE ITS IN FLEXSLIDER.CSS)
================================================== */


#slider_section {background: url(../img/slide_bg.jpg) no-repeat; height: 760px; background-position: center; margin-bottom: 50px;}
.flex-caption span.text_attention {color: #ff1b41;}
.slider-img {max-width: 960px; margin: 0 auto; text-align: center; }
.slider-img img {margin: 0 auto; }
.caption-text {text-align: center;padding: 5px 16px 7px 16px;font-size: 70px; line-height: 65px; text-transform: uppercase;display: inline-block; margin-bottom: 30px;
color: white;font-family:'equal_sans_demoregular'}
#heart-icon {margin-left:20px;}
.over {background-size: cover; background-color: black; opacity: 0.2;}
.main-slider {margin-top: 100px;}
.flexslider.main-slider {margin-top: 80px;}



/* 4 - HOME
================================================== */


.welcome h2, .services h2, .about_section h2 , #portfolio_container h2, #blog_container h2 , #contact_container h2 {font-family:'equal_sans_demoregular'; text-transform: uppercase; font-size:50px; text-align: center; margin-bottom: 50px;}
.responsive_container {margin-bottom: 50px;}
.box_service {background-color: #f4f4f4; padding: 10px;-webkit-box-shadow: 1px 1px 1px 1px rgba(00, 000, 000, 0.1);box-shadow: 1px 1px 1px 1px rgba(00, 000, 000, 0.1); border-top:8px solid #292929; cursor:pointer;}
.box_service img {float: left; padding:3px 15px 0 10px; margin-bottom: 100px;}
.box_service h4 {font-size:15px;}
.box_service:hover {background-color: #fcfcfc; border-top:8px solid #ff1b41; }
.services_container {margin-bottom: 200px;}


/* 5 - ABOUT
================================================== */


.working_method {margin-bottom: 50px;}
.world_map img {margin-left: 40px;}
.more_about_bubble {float:left; margin:0 20px 100px 0;}
#about_container {margin-bottom: 200px;}
h3.about_message {border-bottom: 1px solid #e1e1e1; font-size:19px; text-align: center; margin-bottom: 50px;}
.more_about_bubble {background-image: url(../img/more_about.png); height: 51px; width: 52px;}


/* 6 - PORTFOLIO
================================================== */


.pfolio {margin-left: 0;}
.pfolio_item img {width: 100%}
.option-set { list-style: none;margin:50px 0; text-align: center;}
.option-set li { display:inline; }
.option-set li a, .option-set li a.selected {font-family:'Arial'; font-weight: bold; color:#212121; margin-right: 20px; padding: 5px 8px;border-radius: 5px; -webkit-border-radius:2px; -moz-border-radius:2px;}
.option-set li a.selected { background-color: #ff1b41;color:#fff; padding: 5px 8px;}
.active .button {}
.pfolio_item {margin-bottom: 15px;}
.pfolio_desc {text-align: center; margin: 20px 0 50px 0;}
.pfolio_desc h4 {line-height: 1px;}
.pfolio_desc p {line-height: 20px; font-style: italic; font-size:12px; color: #909090;}
#portfolio_container {margin-bottom: 200px;}
.pfolio_buttons {margin-bottom: 200px;}
.pfolio_item .first {margin-left: 510px;}
.isotope-item {z-index: 2;}
.isotope-hidden.isotope-item {pointer-events: none;z-index: 1;}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


/* 7 - BLOG
================================================== */


#blog_container {margin-bottom:200px;}
.bpost {border-bottom:1px dotted #999; margin-bottom: 50px;}
.bpost_content h4 {margin-top: 20px; margin-bottom: 0; color: #212121;}
.bpost img {border:5px solid #eee;}
.star-icon img {border: none; float: left; margin:20px 20px 0 0;}
.bpost_nav ul {margin-top:50px; margin-left: 0;}
.bpost_nav ul li {display: inline; margin-right: 10px; background-color: #f4f4f4; padding: 5px 10px;-webkit-box-shadow: 1px 1px 1px 1px rgba(00, 000, 000, 0.1);
box-shadow: 1px 1px 1px 1px rgba(00, 000, 000, 0.1); cursor:pointer; font-size:11px;}
.bpost_nav ul li a {color: #666666;}
p.question {margin: 50px 0;}
.bpost_content_meta {margin-top: 5px;}
.bpost_content_meta ul li {display:inline; margin-right: 20px; font-size:11px; color: #666666;}
.bpost_content_meta img {border:none; margin-right: 10px;}
.bp_offset {margin-left:60px}
.bpost_text {margin:20px 0;}
.bpost_text a {font-size:12px;}
.picture {position: relative;}
.picture img {width: 100%; height: auto;}
.image-overlay-link,.image-overlay-zoom {height:100%;width: 100%;left: 0;top:-2px;position: absolute;z-index: 40;display: none;background-color: #222;background: rgba(0, 0, 0, 0.7);background-repeat: no-repeat;background-position: 50%;cursor: pointer;overflow:hidden;}
.image-overlay-link {background-image: url(../img/overlay-icon-01.png);}
.leave_comment h4 {margin:-30px 0 30px 0;}
.simple_comment {border-bottom:1px solid #ddd; padding-bottom: 10px; margin-top: 30px;}
.simple_comment img {float:left; margin-right: 15px; margin-bottom: 10px;}
.simple_comment h4 {float:left; margin:0 15px 0 0;}
.comment_meta {margin-bottom: 10px;}
.comment_meta p {float:left; margin-right: 15px;}
.simple_comment.indent {margin-left: 100px;}
.cf_input_container {margin-top: 50px;}
.comment_meta a {font-size:11px;}
.cf_input_container h4 {margin:-20px 0 30px 0; text-align: left;}
.star-icon {background: url(../img/blog/star-icon.png) no-repeat; height: 40px; width: 40px; float:left; margin: 20px 20px 0 0;}
.cf_input_container {margin-bottom: 100px;}


/* 8 - SIDEBAR
================================================== */


.search_widget {background-color: #FFF;
background: rgb(252, 27, 65);
background: -moz-linear-gradient(270deg, rgb(252, 27, 65) 13%, rgb(195, 31, 59) 73%);
background: -webkit-linear-gradient(270deg, rgb(252, 27, 65) 13%, rgb(195, 31, 59) 73%);
background: -o-linear-gradient(270deg, rgb(252, 27, 65) 13%, rgb(195, 31, 59) 73%);
background: -ms-linear-gradient(270deg, rgb(252, 27, 65) 13%, rgb(195, 31, 59) 73%);
background: linear-gradient(0deg, rgb(252, 27, 65) 13%, rgb(195, 31, 59) 73%);
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
padding-bottom: 15px;
margin-bottom: 50px;}
.search_widget h4 {color: #fff;padding: 10px 10px 0 20px;}
.search input {margin: 0 20px;-webkit-box-shadow: inset 1px 1px 5px rgba(50, 50, 50, 0.5);-moz-box-shadow: inset 1px 1px 5px rgba(50, 50, 50, 0.25);
box-shadow:inset 1px 1px 5px rgba(50, 50, 50, 0.25); border:1px solid #ccc;background:url(../img/blog/mglass-icon.png) no-repeat 95% 54%; background-color: #FFF;}
.sidebar_categories, .sidebar_text, .sidebar_ppost {margin-left: 20px; margin-bottom: 50px;}
.sidebar_categories ul {margin-left: 0;}
.sidebar_categories ul li {border-bottom:1px dotted #999; padding:5px 0;}
.sidebar_categories ul li a {color: #666666; transition:color 0.1s ease-in-out;-moz-transition:color 0.1s ease-in-out;-webkit-transition:color 0.1s ease-in-out;}
.sidebar_categories ul li a:hover {color: #ff1b41;}
input.ip_text {font-size:11px; color: #9f9f9f; font-style: italic; font-family: 'Arial';}
ul.rpost {margin-left: 0;}
ul.rpost li {float:left; padding-right:10px; margin-bottom: 10px;}
ul.rpost li a:hover {opacity:0.8;}


/* 9 - CONTACT
================================================== */


.contact_social ul {margin-left:0; padding: 20px 0;}
.contact_social ul li {display:inline;}
#contact_container {margin-bottom: 200px;}
.contact_info {line-height: 10px;}
.subfooter_container {background-color: #141414;}
.subfooter_container p {font-size:11px; color: #a0a0a0; padding: 20px 0 10px 0;}
.sf_top {border-top:6px solid #000000; border-bottom:1px solid #232323;}
.tooltip {font-size:11px;background:#303030;font-size:12px;padding:3px 7px; margin-left: 10px;
z-index:999;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; font-weight: bold; color:#fff; font-family: 'Arial';}
form#contact_form .cf_input {float: left; margin-bottom: 20px;}
form#contact_form input {width: 230px;margin-right: 14px;padding: 10px 4px;background-color: whiteSmoke;border: 1px solid #D8D8D8;outline: none;}
form#contact_form textarea {float:left; background-color: #f5f5f5; border:none; border:1px solid #d8d8d8; outline: none;width: 96%;padding: 11px; min-height: 100px;}
form#contact_form input#submit {background-color: #333333; border-radius:5px; width: 80px; color: #f5f5f5; padding: 5px 0; text-transform: uppercase;font-size: 11px; font-weight: bold;margin-top: 20px;}
form#blog-post-form p {width: 289px;float: left;padding-left: 1px;}
form#blog-post-form input {width: 260px;margin-right: 17px;padding: 10px 4px;background-color: whiteSmoke;border: 1px solid #D8D8D8;outline: none;}
form#blog-post-form textarea {float:left; background-color: #f5f5f5; border:none; border:1px solid #d8d8d8; outline: none;width: 96%;
padding: 11px; min-height: 100px;}
form#blog-post-form input#submit {background-color: #333333; border-radius:5px; width: 80px; color: #f5f5f5; padding: 5px 0; text-transform: uppercase;font-size: 11px; font-weight: bold;margin-top: 20px;} 



/* 10 - MEDIA QUERYS */


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {

.switch_out {display: none;}
.search input {width: 110px; background:url(none) #ffffff;}
.bpost_content_meta ul li {margin-right: 10px;}
.sidebar_ppost {display: none;}
#contact_form input {}
.more_about { width: 250px;}
.more_about_bubble {margin-left: 15px;}
.world_map img {margin-left:10px;}
}


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

body .container {margin: 0 20px;}
.switch_out {display: none;}
.responsive_container {text-align: center;}
.responsive_container img {margin-bottom: 50px;}
.box_service {padding-top: 20px; margin-bottom: 50px;}
.world_map img, .more_about_bubble {display: none;}
.sidebar, .sidebar_categories , .sidebar_text , .sidebar_ppost {display: none;}
.contact_info {margin-bottom: 50px;}
.flexslider.main-slider {margin-top: 80px;}
.option-set {line-height: 40px;}

}


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

@media only screen and (max-width: 400px) {

body {text-align: center;}
.switch_out {display: none;}
.flexslider.main-slider {margin-top: 150px;}
.caption-text {font-size:45px; line-height: 45px;}
nav.main_nav ul {margin-left: -20px;}
nav.main_nav ul li {padding-bottom: 10px;}
h3.about_message {line-height: 25px; padding-bottom: 30px;}
.option-set {margin-top:1px;}
.option-set li {display: block; padding-bottom: 15px;}
.star-icon img {display: none;}
.bpost_content_meta ul {margin:10px 0;}
.bpost_content_meta ul li {display: block;}
.bpost_text {margin-left: -50px;}
form#contact_form input {width: 120px;}
form#contact_form p {float:left;}
.cf_input.subjet input {}
input#submit {float:left;}
.simple_comment.indent {margin-left: 10px;}
.simple_comment.indent p {margin-right: 50px;}
.comment_meta p {}
.simple_comment img {margin-bottom: 150px;}
.simple_comment p {text-align: left; margin-right: 50px;}
.comment_meta h4 {}
form#contact_form input {margin-left: 10px;}
.simple_comment .date {position: relative; margin-left: 85px;}
h2.title {padding-top: 50px;}
}


/* 11 - SWITCHER
================================================== */


#switch {float:left;display:block;background:#fff;-moz-border-radius:0 10px 10px 0;-webkit-border-radius:0 10px 10px 0;border-radius:0 10px 10px 0;position:absolute;left:0;top:20%;padding:15px 20px 15px 10px;}
#switch h4 {font-size:12px; color:#000; font-family:'Arial'; margin-bottom: 10px;}
#switch ul li {font-size:12px; font-family: 'Arial'; margin-left: -20px; margin-bottom: 10px;}
#switch ul li a {color:#4d4d4d;}
#show {position:absolute;left:0;top:20%;background:#fff;-moz-border-radius:0 10px 10px 0;-webkit-border-radius:0 10px 10px 0;border-radius:0 10px 10px 0;margin-top:10px;behavior:url(PIE.html);
padding:15px 20px 15px 10px; color: #000;}
#show h4, #hide {cursor:pointer;color: #000; font-size:12px; font-family: Arial;}
#show h4 span,#hide span {font-weight:400;display:block;clear:both;}



